<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/userpage">Users</a>
        <a href="/blogpage">Blogs</a>
    </header>
    <h1>User Page</h1>
    <h4>Name is {{name}} </h4>
    <h4>Email is {{email}} </h4>
</body>
</html>